@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;700&display=swap');
@import "tailwindcss";

@theme {
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;
}

body {
  background-color: #1e1e2e; /* Catppuccin Mocha Base */
  color: #cdd6f4; /* Catppuccin Mocha Text */
}
